.menu-btn {
  position: fixed;
  background-color: transparent;
  border: none;
  top: 0px;
  width: 100%;
  background: #202020;
  display: flex !important;
  padding: 5px 15px;

  img {
    width: 30px;
  }
}

aside {
  width: 100%;
  height: 100vh;
  left: 0px;
  top: 0px;
  background-color: #191919;
  position: fixed;

  .aside-title {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px 0px;

    img {
      width: 30px;
    }
  }

  .aside-elements {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;

    a {
      gap: 5px;
      width: 90%;
      padding: 5px 10px;
      background-color: #262626;
      border-radius: 6px;
      display: flex;
      align-items: center;
    }
  }
}

@media (min-width: 1024px) {
  .menu-btn {
    position: fixed;
    background-color: transparent;
    align-items: baseline;
    justify-content: baseline;
    left: 10px;
    top: 10px;
    display: flex !important;
    padding: 5px;
  }

  aside {
    width: 15%;
    height: 100vh;
    left: 0px;
    top: 0px;
    background-color: #191919;
    position: relative;

    .aside-title {
      display: flex;
      gap: 5px;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: 20px 0px;

      img {
        width: 30px;
      }
    }

    .aside-elements {
      width: 100%;
      display: flex;
      gap: 10px;
      flex-direction: column;
      align-items: center;

      a {
        gap: 5px;
        width: 90%;
        padding: 5px 10px;
        background-color: #262626;
        border-radius: 6px;
        display: flex;
        align-items: center;
      }
    }
  }
}
