.flex-direction {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.variaciones-card-title {
  width: 85%;
  margin: auto;
  text-align: center;
  margin-top: 50px;
  font-size: 1.5rem;
}

.variaciones-card-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;

  .variaciones-card-positive,
  .variaciones-card-cero,
  .variaciones-card-negative {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #202020;
    transition: 0.5s;

    .text-fade-in {
      animation: fade-in-texto 2s ease 1;
    }

    &:hover {
      transform: scale(1.01);
    }

    .variaciones-card_name {
      p {
        color: var(--text-opacity-50);
        font-size: 1rem;
      }
    }

    .variaciones-card_data {
      display: flex;
      align-items: center;

      p {
        font-size: 1.8rem;
      }

      img {
        width: 40px;
      }
    }

    .loading-data {
      width: 100%;
      height: 30px;
      animation: text-loadin 5s ease infinite;
      background: linear-gradient(
        to right,
        #383838 0%,
        #505050 20%,
        #383838 40%
      );
      background-size: 200% 100%;
      border-radius: 6px;
      padding: 0px 10px;
      animation: text-loading 1.5s infinite linear;
    }
  }

  .variaciones-card-negative {
    border: 3px solid rgba(148, 0, 0, 0.372);
  }

  .variaciones-card-positive {
    border: 3px solid rgba(20, 148, 0, 0.372);
  }
}

@keyframes fade-in-texto {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

@media (min-width: 768px) {
  .variaciones-card-section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .variaciones-card-positive,
    .variaciones-card-cero,
    .variaciones-card-negative {
      width: 30%;
    }
  }
}

@media (min-width: 1024px) {
  .flex-direction {
    display: flex;
    flex-direction: column;
    z-index: 2;
    pointer-events: all;
  }
  .variaciones-card-section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    .variaciones-card-positive,
    .variaciones-card-cero,
    .variaciones-card-negative {
      width: 30%;
      height: 100px;
    }
  }
}
