* {
  color: rgba(255, 255, 255, 0.87);
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-color: #161616;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
