.init-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow-y: scroll;
  height: 100vh;
}

.productos-section_title {
  font-size: 1.5rem;
  display: flex;
  align-self: flex-start;
  width: 95%;
  margin: 20px auto;
}

.productos-section {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: auto;
  margin-bottom: 10px;

  .productos-card_negative,
  .productos-card_positive,
  .productos-card_fuego,
  .productos-card_cero,
  .productos-card_piano {
    display: flex;
    position: relative;
    gap: 10px;
    flex-direction: column;
    background-color: #202020;
    border-radius: 8px;
    padding: 15px;

    .productos-card_emoji {
      position: absolute;
      top: -20px;
      right: 0px;
      p {
        font-size: 30px;
        animation: emoji 4s ease-in infinite;
      }
    }

    .productos-card_name-price {
      display: flex;
      justify-content: space-between;
      :nth-child(2) {
        font-size: 1.3rem;
      }
    }

    .productos-card_variacion {
      display: flex;
      flex-direction: column;
      gap: 5px;

      p:nth-child(2) {
        color: rgba(255, 255, 255, 0.498);
        font-size: 0.8rem;
      }
    }
  }

  .productos-card_negative {
    outline: 2px solid rgba(255, 0, 0, 0.626);
  }

  .productos-card_positive {
    outline: 2px solid rgba(47, 255, 0, 0.626);
  }

  .productos-card_piano {
    outline: 2px solid rgba(255, 0, 0, 0.626);
    animation: piano 2s ease-in forwards;
  }

  .productos-card_fuego {
    outline: 2px solid rgba(47, 255, 0, 0.626);
    animation: fuego 2s ease-in forwards;
  }
}

@keyframes emoji {
  0% {
  }

  50% {
    transform: scale(1.1);
  }

  100% {
  }
}

@keyframes piano {
  0% {
  }

  50% {
    box-shadow: 0px 0px 50px 1px rgba(255, 0, 0, 0.379);
  }

  100% {
    box-shadow: 0px 0px 50px 1px rgba(255, 0, 0, 0.223);
  }
}

@keyframes fuego {
  0% {
  }

  50% {
    box-shadow: 0px 0px 50px 1px rgba(47, 255, 0, 0.326);
  }

  100% {
    box-shadow: 0px 0px 50px 1px rgba(47, 255, 0, 0.226);
  }
}

@media (min-width: 768px) {
  .productos-section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .productos-card_negative,
    .productos-card_cero,
    .productos-card_positive {
      width: 45%;
    }
  }
}

@media (min-width: 1024px) {
  .productos-section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    .productos-card_negative,
    .productos-card_positive,
    .productos-card_cero,
    .productos-card_fuego,
    .productos-card_piano {
      width: 32%;
    }
  }
}

@media (min-width: 1440px) {
  .productos-section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    .productos-card_negative,
    .productos-card_positive,
    .productos-card_cero,
    .productos-card_fuego,
    .productos-card_piano {
      width: 24%;
    }
  }
}
